AplicacionSistemaTutorias/ClienteSistemaTutorias/Connected Services/ServiceReferenceTutorias/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosTutorias.Modelo" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosTutorias.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="mensajeTexto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioAutenticado" nillable="true" type="tns:Academico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
  <xs:complexType name="Academico">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExperienciaEducativa" nillable="true" type="tns:ArrayOfExperienciaEducativa" />
      <xs:element minOccurs="0" name="HoraTutoria" nillable="true" type="tns:ArrayOfHoraTutoria" />
      <xs:element minOccurs="0" name="ProgramaEducativo" nillable="true" type="tns:ArrayOfProgramaEducativo" />
      <xs:element minOccurs="0" name="ProgramaEducativo1" nillable="true" type="tns:ArrayOfProgramaEducativo" />
      <xs:element minOccurs="0" name="ReporteTutoriaAcademica" nillable="true" type="tns:ArrayOfReporteTutoriaAcademica" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="tns:Rol" />
      <xs:element minOccurs="0" name="SolucionProblematica" nillable="true" type="tns:ArrayOfSolucionProblematica" />
      <xs:element minOccurs="0" name="Tutorado" nillable="true" type="tns:ArrayOfTutorado" />
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoInstitucional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="idRol" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numPersonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Academico" nillable="true" type="tns:Academico" />
  <xs:complexType name="ArrayOfExperienciaEducativa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExperienciaEducativa" nillable="true" type="tns:ExperienciaEducativa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExperienciaEducativa" nillable="true" type="tns:ArrayOfExperienciaEducativa" />
  <xs:complexType name="ExperienciaEducativa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academico" nillable="true" type="tns:Academico" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="tns:Materia" />
      <xs:element minOccurs="0" name="NRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoEscolar" nillable="true" type="tns:PeriodoEscolar" />
      <xs:element minOccurs="0" name="Problematica" nillable="true" type="tns:ArrayOfProblematica" />
      <xs:element minOccurs="0" name="ProgramaEducativo" nillable="true" type="tns:ProgramaEducativo" />
      <xs:element minOccurs="0" name="idAcademico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idExperienciaEducativa" type="xs:int" />
      <xs:element minOccurs="0" name="idMateria" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idPeriodoEscolar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idProgramaEducativo" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExperienciaEducativa" nillable="true" type="tns:ExperienciaEducativa" />
  <xs:complexType name="Materia">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExperienciaEducativa" nillable="true" type="tns:ArrayOfExperienciaEducativa" />
      <xs:element minOccurs="0" name="idMateria" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materia" nillable="true" type="tns:Materia" />
  <xs:complexType name="PeriodoEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExperienciaEducativa" nillable="true" type="tns:ArrayOfExperienciaEducativa" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TutoriaAcademica" nillable="true" type="tns:ArrayOfTutoriaAcademica" />
      <xs:element minOccurs="0" name="fechasTutorias" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="idPeriodoEscolar" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodoEscolar" nillable="true" type="tns:PeriodoEscolar" />
  <xs:complexType name="ArrayOfTutoriaAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TutoriaAcademica" nillable="true" type="tns:TutoriaAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTutoriaAcademica" nillable="true" type="tns:ArrayOfTutoriaAcademica" />
  <xs:complexType name="TutoriaAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asistencia" nillable="true" type="tns:ArrayOfAsistencia" />
      <xs:element minOccurs="0" name="HoraTutoria" nillable="true" type="tns:ArrayOfHoraTutoria" />
      <xs:element minOccurs="0" name="PeriodoEscolar" nillable="true" type="tns:PeriodoEscolar" />
      <xs:element minOccurs="0" name="ReporteTutoriaAcademica" nillable="true" type="tns:ArrayOfReporteTutoriaAcademica" />
      <xs:element minOccurs="0" name="fechaLimiteReporte" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaSesion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPeriodoEscolar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idTutoriaAcademica" type="xs:int" />
      <xs:element minOccurs="0" name="numeroSesion" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TutoriaAcademica" nillable="true" type="tns:TutoriaAcademica" />
  <xs:complexType name="ArrayOfAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asistencia" nillable="true" type="tns:Asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsistencia" nillable="true" type="tns:ArrayOfAsistencia" />
  <xs:complexType name="Asistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tutorado" nillable="true" type="tns:Tutorado" />
      <xs:element minOccurs="0" name="TutoriaAcademica" nillable="true" type="tns:TutoriaAcademica" />
      <xs:element minOccurs="0" name="idAsistencia" type="xs:int" />
      <xs:element minOccurs="0" name="idTutorado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idTutoriaAcademica" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asistencia" nillable="true" type="tns:Asistencia" />
  <xs:complexType name="Tutorado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academico" nillable="true" type="tns:Academico" />
      <xs:element minOccurs="0" name="Asistencia" nillable="true" type="tns:ArrayOfAsistencia" />
      <xs:element minOccurs="0" name="AutorProblematica" nillable="true" type="tns:ArrayOfAutorProblematica" />
      <xs:element minOccurs="0" name="HoraTutoria" nillable="true" type="tns:ArrayOfHoraTutoria" />
      <xs:element minOccurs="0" name="ProgramaEducativo" nillable="true" type="tns:ProgramaEducativo" />
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoInstitucional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoPersonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProgramaEducativo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idTutorAcademico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idTutorado" type="xs:int" />
      <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tutorado" nillable="true" type="tns:Tutorado" />
  <xs:complexType name="ArrayOfAutorProblematica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutorProblematica" nillable="true" type="tns:AutorProblematica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutorProblematica" nillable="true" type="tns:ArrayOfAutorProblematica" />
  <xs:complexType name="AutorProblematica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Problematica" nillable="true" type="tns:Problematica" />
      <xs:element minOccurs="0" name="Tutorado" nillable="true" type="tns:Tutorado" />
      <xs:element minOccurs="0" name="idAutor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idAutorProblematica" type="xs:int" />
      <xs:element minOccurs="0" name="idProblematica" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutorProblematica" nillable="true" type="tns:AutorProblematica" />
  <xs:complexType name="Problematica">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorProblematica" nillable="true" type="tns:ArrayOfAutorProblematica" />
      <xs:element minOccurs="0" name="ClasificacionProblematica" nillable="true" type="tns:ClasificacionProblematica" />
      <xs:element minOccurs="0" name="ExperienciaEducativa" nillable="true" type="tns:ExperienciaEducativa" />
      <xs:element minOccurs="0" name="ReporteTutoriaAcademica" nillable="true" type="tns:ReporteTutoriaAcademica" />
      <xs:element minOccurs="0" name="SolucionProblematica" nillable="true" type="tns:SolucionProblematica" />
      <xs:element minOccurs="0" name="SolucionProblematica1" nillable="true" type="tns:ArrayOfSolucionProblematica" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idClasificacionProblematica" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idExperienciaEducativa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idProblematica" type="xs:int" />
      <xs:element minOccurs="0" name="idReporteTutoriaAcademica" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idSolucionProblematica" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="numeroIncidencias" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Problematica" nillable="true" type="tns:Problematica" />
  <xs:complexType name="ClasificacionProblematica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Problematica" nillable="true" type="tns:ArrayOfProblematica" />
      <xs:element minOccurs="0" name="idClasificacionProblematica" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClasificacionProblematica" nillable="true" type="tns:ClasificacionProblematica" />
  <xs:complexType name="ArrayOfProblematica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Problematica" nillable="true" type="tns:Problematica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProblematica" nillable="true" type="tns:ArrayOfProblematica" />
  <xs:complexType name="ReporteTutoriaAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academico" nillable="true" type="tns:Academico" />
      <xs:element minOccurs="0" name="ComentarioGeneral" nillable="true" type="tns:ArrayOfComentarioGeneral" />
      <xs:element minOccurs="0" name="Problematica" nillable="true" type="tns:ArrayOfProblematica" />
      <xs:element minOccurs="0" name="ProgramaEducativo" nillable="true" type="tns:ProgramaEducativo" />
      <xs:element minOccurs="0" name="TutoriaAcademica" nillable="true" type="tns:TutoriaAcademica" />
      <xs:element minOccurs="0" name="idProgramaEducativo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idReporteTutoriaAcademica" type="xs:int" />
      <xs:element minOccurs="0" name="idTutorAcademico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idTutoriaAcademica" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteTutoriaAcademica" nillable="true" type="tns:ReporteTutoriaAcademica" />
  <xs:complexType name="ArrayOfComentarioGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComentarioGeneral" nillable="true" type="tns:ComentarioGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComentarioGeneral" nillable="true" type="tns:ArrayOfComentarioGeneral" />
  <xs:complexType name="ComentarioGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReporteTutoriaAcademica" nillable="true" type="tns:ReporteTutoriaAcademica" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idComentarioGeneral" type="xs:int" />
      <xs:element minOccurs="0" name="idReporteTutoriaAcademica" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComentarioGeneral" nillable="true" type="tns:ComentarioGeneral" />
  <xs:complexType name="ProgramaEducativo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academico" nillable="true" type="tns:Academico" />
      <xs:element minOccurs="0" name="Academico1" nillable="true" type="tns:Academico" />
      <xs:element minOccurs="0" name="ExperienciaEducativa" nillable="true" type="tns:ArrayOfExperienciaEducativa" />
      <xs:element minOccurs="0" name="ReporteTutoriaAcademica" nillable="true" type="tns:ArrayOfReporteTutoriaAcademica" />
      <xs:element minOccurs="0" name="Tutorado" nillable="true" type="tns:ArrayOfTutorado" />
      <xs:element minOccurs="0" name="idCoordinadorTutorias" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idJefeProgramaEducativo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idProgramaEducativo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramaEducativo" nillable="true" type="tns:ProgramaEducativo" />
  <xs:complexType name="ArrayOfReporteTutoriaAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteTutoriaAcademica" nillable="true" type="tns:ReporteTutoriaAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteTutoriaAcademica" nillable="true" type="tns:ArrayOfReporteTutoriaAcademica" />
  <xs:complexType name="ArrayOfTutorado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tutorado" nillable="true" type="tns:Tutorado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTutorado" nillable="true" type="tns:ArrayOfTutorado" />
  <xs:complexType name="SolucionProblematica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academico" nillable="true" type="tns:Academico" />
      <xs:element minOccurs="0" name="Problematica" nillable="true" type="tns:ArrayOfProblematica" />
      <xs:element minOccurs="0" name="Problematica1" nillable="true" type="tns:Problematica" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idJefeProgramaEducativo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idProblematica" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idSolucionProblematica" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolucionProblematica" nillable="true" type="tns:SolucionProblematica" />
  <xs:complexType name="ArrayOfSolucionProblematica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolucionProblematica" nillable="true" type="tns:SolucionProblematica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolucionProblematica" nillable="true" type="tns:ArrayOfSolucionProblematica" />
  <xs:complexType name="ArrayOfHoraTutoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoraTutoria" nillable="true" type="tns:HoraTutoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoraTutoria" nillable="true" type="tns:ArrayOfHoraTutoria" />
  <xs:complexType name="HoraTutoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academico" nillable="true" type="tns:Academico" />
      <xs:element minOccurs="0" name="Tutorado" nillable="true" type="tns:Tutorado" />
      <xs:element minOccurs="0" name="TutoriaAcademica" nillable="true" type="tns:TutoriaAcademica" />
      <xs:element minOccurs="0" name="horaTutoria1" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="idHoraTutoria" type="xs:int" />
      <xs:element minOccurs="0" name="idTutorAcademico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idTutorado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idTutoriaAcademica" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoraTutoria" nillable="true" type="tns:HoraTutoria" />
  <xs:complexType name="ArrayOfProgramaEducativo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramaEducativo" nillable="true" type="tns:ProgramaEducativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramaEducativo" nillable="true" type="tns:ArrayOfProgramaEducativo" />
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academico" nillable="true" type="tns:ArrayOfAcademico" />
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol" />
  <xs:complexType name="ArrayOfAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Academico" nillable="true" type="tns:Academico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcademico" nillable="true" type="tns:ArrayOfAcademico" />
  <xs:complexType name="ArrayOfPeriodoEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodoEscolar" nillable="true" type="tns:PeriodoEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodoEscolar" nillable="true" type="tns:ArrayOfPeriodoEscolar" />
  <xs:complexType name="MensajeGenerico">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="mensajeGenerico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MensajeGenerico" nillable="true" type="tns:MensajeGenerico" />
  <xs:complexType name="ArrayOfMateria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Materia" nillable="true" type="tns:Materia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMateria" nillable="true" type="tns:ArrayOfMateria" />
</xs:schema>