AplicacionSistemaTutorias/ClienteSistemaTutorias/Connected Services/ServiceReferenceTutorias/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosTutorias.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPeriodosEscolaresSinTutorias_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPeriodosEscolaresSinTutorias" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPeriodosEscolaresSinTutorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPeriodosEscolaresSinTutoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarFechasTutorias_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarFechasTutorias" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarFechasTutorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarFechasTutoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_actualizarTutoriasEnPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTutoriasEnPeriodo" />
  </wsdl:message>
  <wsdl:message name="IService1_actualizarTutoriasEnPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTutoriasEnPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutores_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutores" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutores_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutoriasPeriodoReciente_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutoriasPeriodoReciente" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutoriasPeriodoReciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutoriasPeriodoRecienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerHorariosTutorias_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHorariosTutorias" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerHorariosTutorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHorariosTutoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTuturadosDeHorariosTutorias_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTuturadosDeHorariosTutorias" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTuturadosDeHorariosTutorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTuturadosDeHorariosTutoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutoriasAnterioresFechaActual_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutoriasAnterioresFechaActual" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutoriasAnterioresFechaActual_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutoriasAnterioresFechaActualResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerEEEnProblematicas_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerEEEnProblematicas" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerEEEnProblematicas_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerEEEnProblematicasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerProblematicasPorTutoria_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerProblematicasPorTutoria" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerProblematicasPorTutoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerProblematicasPorTutoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutoresDeComentarios_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutoresDeComentarios" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerTutoresDeComentarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTutoresDeComentariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerComentariosGenerales_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerComentariosGenerales" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerComentariosGenerales_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerComentariosGeneralesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarPeriodoNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarPeriodoNuevo" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarPeriodoNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarPeriodoNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPeriodosEscolares_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPeriodosEscolares" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerPeriodosEscolares_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPeriodosEscolaresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerAsistenciaPorTutoria_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAsistenciaPorTutoria" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerAsistenciaPorTutoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAsistenciaPorTutoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPeriodosEscolaresSinTutorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerPeriodosEscolaresSinTutorias" message="tns:IService1_obtenerPeriodosEscolaresSinTutorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerPeriodosEscolaresSinTutoriasResponse" message="tns:IService1_obtenerPeriodosEscolaresSinTutorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarFechasTutorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registrarFechasTutorias" message="tns:IService1_registrarFechasTutorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrarFechasTutoriasResponse" message="tns:IService1_registrarFechasTutorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarTutoriasEnPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/actualizarTutoriasEnPeriodo" message="tns:IService1_actualizarTutoriasEnPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/actualizarTutoriasEnPeriodoResponse" message="tns:IService1_actualizarTutoriasEnPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTutores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerTutores" message="tns:IService1_obtenerTutores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerTutoresResponse" message="tns:IService1_obtenerTutores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTutoriasPeriodoReciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerTutoriasPeriodoReciente" message="tns:IService1_obtenerTutoriasPeriodoReciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerTutoriasPeriodoRecienteResponse" message="tns:IService1_obtenerTutoriasPeriodoReciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerHorariosTutorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerHorariosTutorias" message="tns:IService1_obtenerHorariosTutorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerHorariosTutoriasResponse" message="tns:IService1_obtenerHorariosTutorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTuturadosDeHorariosTutorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerTuturadosDeHorariosTutorias" message="tns:IService1_obtenerTuturadosDeHorariosTutorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerTuturadosDeHorariosTutoriasResponse" message="tns:IService1_obtenerTuturadosDeHorariosTutorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTutoriasAnterioresFechaActual">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerTutoriasAnterioresFechaActual" message="tns:IService1_obtenerTutoriasAnterioresFechaActual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerTutoriasAnterioresFechaActualResponse" message="tns:IService1_obtenerTutoriasAnterioresFechaActual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerEEEnProblematicas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerEEEnProblematicas" message="tns:IService1_obtenerEEEnProblematicas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerEEEnProblematicasResponse" message="tns:IService1_obtenerEEEnProblematicas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerProblematicasPorTutoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerProblematicasPorTutoria" message="tns:IService1_obtenerProblematicasPorTutoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerProblematicasPorTutoriaResponse" message="tns:IService1_obtenerProblematicasPorTutoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTutoresDeComentarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerTutoresDeComentarios" message="tns:IService1_obtenerTutoresDeComentarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerTutoresDeComentariosResponse" message="tns:IService1_obtenerTutoresDeComentarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerComentariosGenerales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerComentariosGenerales" message="tns:IService1_obtenerComentariosGenerales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerComentariosGeneralesResponse" message="tns:IService1_obtenerComentariosGenerales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarPeriodoNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registrarPeriodoNuevo" message="tns:IService1_registrarPeriodoNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrarPeriodoNuevoResponse" message="tns:IService1_registrarPeriodoNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPeriodosEscolares">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerPeriodosEscolares" message="tns:IService1_obtenerPeriodosEscolares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerPeriodosEscolaresResponse" message="tns:IService1_obtenerPeriodosEscolares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerAsistenciaPorTutoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerAsistenciaPorTutoria" message="tns:IService1_obtenerAsistenciaPorTutoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerAsistenciaPorTutoriaResponse" message="tns:IService1_obtenerAsistenciaPorTutoria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPeriodosEscolaresSinTutorias">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerPeriodosEscolaresSinTutorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarFechasTutorias">
      <soap:operation soapAction="http://tempuri.org/IService1/registrarFechasTutorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTutoriasEnPeriodo">
      <soap:operation soapAction="http://tempuri.org/IService1/actualizarTutoriasEnPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTutores">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerTutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTutoriasPeriodoReciente">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerTutoriasPeriodoReciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerHorariosTutorias">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerHorariosTutorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTuturadosDeHorariosTutorias">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerTuturadosDeHorariosTutorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTutoriasAnterioresFechaActual">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerTutoriasAnterioresFechaActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEEEnProblematicas">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerEEEnProblematicas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProblematicasPorTutoria">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerProblematicasPorTutoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTutoresDeComentarios">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerTutoresDeComentarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerComentariosGenerales">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerComentariosGenerales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPeriodoNuevo">
      <soap:operation soapAction="http://tempuri.org/IService1/registrarPeriodoNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPeriodosEscolares">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerPeriodosEscolares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerAsistenciaPorTutoria">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerAsistenciaPorTutoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:59612/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>